*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 200px;
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    margin: 10px auto;
    height: 400px;
    width: 700px;
    background-color: rgb(234, 28, 28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#option{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 20px;
    position: relative;
    
}


button{
    height: 40px;
    width: 250px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}
#btnA{
    height: 40px;
    width: 150px;
    margin-top: 80px;
    margin-left: 450px;
    border: none;
    border-radius: 10px;
}
button:hover{
    background-color: black;
    color: wheat;
    border: 1px solid white;
    
}
#btnA:hover{
    background-color: black;
    color: wheat;
    border: 1px solid white;
    
}
#footer{
    margin: auto;
    padding: auto;
    height: 60px;
    width: 200px;

    background-color: blue;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
